* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 20px;

}

body {
    background: #241a31;
    color: white;
    text-align: center;
    padding: 20px;
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}