* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #241a31;
    color: white;
} */


body {
    background: linear-gradient(180deg, #241a31, #120a18);
    color: white;
    font-family: sans-serif;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}

/* BUSCADOR */
section {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

input {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #c100ff;
    color: #241a31;
}

/* LIMITE */
.limite-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

#error,
.error {
    color: #ff4d4d;
    font-size: 0.9rem;
}

#inputLimite {
    width: 80px;
}

/* GRID */
#contenedorShows {
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/* CARD */
.card {
    background: #1a1023;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

.card:hover {
    transform: scale(1.05)
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

/* FAVORITO */
.fav-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* HISTORIAL */
#historial {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

/* LOADER */
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #241a31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-loader {
    font-size: 2rem;
    background: linear-gradient(90deg, #6bf1ff, #c100ff);
    -webkit-background-clip: text;
    color: transparent;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.2)
    }
}

.hidden {
    display: none
}

@media (min-width: 1024px) {
    .principal{
        display: flex;
        justify-content: center;
        margin: 12px;
    }
    .final{
        margin: 8px;
    }

}

/* TABLET */
@media(max-width:768px) {
    .nav {
        flex-direction: column;
    }

    #contenedorShows {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* MOVIL */
@media(max-width:480px) {
    section {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    #contenedorShows {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}
