* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: #241a31;
}

.cotenedorNavegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 4px;
}

a:hover {
    color: #6bf1ff;
}

body {
    background: #241a31;
    color: white;
}

#contenedorShows {
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}